body {
  width: 100%;
  margin: 0 auto;
}
.container {
  display: flex;
  justify-content: center;
  background-color: black;
}
.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle {
  height: 350px;
  width: 350px;
  border: 15px solid rgb(145, 140, 140);
  background-color: black;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  color: whitesmoke;
  font-size: 50px;
}
.row {
  display: flex;
  flex-direction: row;
}
.btn {
  height: 300px;
  width: 300px;
  border: 20px solid black;
  cursor: pointer;
}
.btn:hover {
  border: 10px solid fuchsia;
  box-shadow: inset 5px 5px 5px 5px white;
}
.green {
  background-color: green;
  border-top-left-radius: 100%;
}

.red {
  background-color: rgb(225, 46, 46);
  border-top-right-radius: 100%;
}

.yellow {
  background-color: rgb(233, 155, 8);
  border-bottom-left-radius: 100%;
}

.blue {
  background-color: rgb(41, 41, 181);
  border-bottom-right-radius: 100%;
}

.clicked {
  background-color: whitesmoke;
}
.over {
  background-color: orange;
}
